/* Vars */
$black: #010000;
$white: #fff;
$clear: rgba(0,0,0,0.0);
$lightGrey: #e6e6e6;
$lightMidGrey: #999;
$midGrey: #555;
$darkGrey: #333;
$red: #ff1755;
$blue: #5DADE2;

/* Mixins */

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

/* Fonts
regular 400
bold 700
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  color: $lightMidGrey;
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $blue;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid {
  line-height: 26px;
}
