@import "_config.scss";

/* header.js */

header {
  background-color: rgba(0,0,0,1);
  width: 100%;
  .header {
    position: relative;
    display: inline;


    .logo {
      position: relative;
      display: inline;
      top: -50px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .header-name {
      position: relative;
      display: inline-block;
      top: -35px;
      margin-left: 35px;

      color: inherit;
    }
  }

  .nav {
    position: relative;
    right: 15px;

    .nav-item {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }
    }

    .dropdown-entry {
      margin-left: 2px;
    }
  }
}

/* HomePage */

.home {
  display: inline-block;

  header {
    background: rgba(0,0,0,0);
  }

  .splash {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: -200px;
    z-index: -1;
    background-image: url("../../Assets/img/horses.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 15%, rgba(0,0,0,0.1)),
      url("../../Assets/img/horses.jpg");
    background-size: cover;
    background-position: center;

    .splash-text {
      position: relative;
      width: 100%;
      padding-top: 350px;
      color: white;
      text-align: center;
      font-size: 54px;
      font-weight: 300;
    }

    .slant {
      margin-top: 82px;

      polygon {
        fill: $white;
      }
    }

    .splash-face {
      position: relative;
      display: block;
      margin-top: -320px;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
      border: 6px solid #eee;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .home-about {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    z-index: 2;

    h1 {
      margin-bottom: 20px;
      text-align: center;
      z-index: 3;
    }

    p {
      margin-bottom: 20px;
    }

    .nav-link {
      background-color: $midGrey;
      color: $lightGrey;
      display: block;
      margin: 0 auto;
      width: 160px;

      &:hover {
        color: $white;
      }
    }
  }

  .media {
    margin: 50px auto;
    height: 500px;
    width: 95%;
  }

  .project-row {
    display: flex;
    text-align: center;

    .project {
      display: inline-flex;
    }
  }

  .promo {
    margin: 10px 0;
    text-align: center;

    .promo-video {
      display: block;
      margin: 30px auto;
      width: 287px;
      height: 480px;
    }
  }

}

.slant {
  position: relative;
  width: 100%;
  height: 300px;
}

/* Music */

.music {
  .container-fluid {
    margin: 20px;
    padding-top: 10px;
    padding-left: 25px;
    background-color: #EEEBEE;
    border-radius: 25px;

    .music-video {
      margin: 10px;
      width: 80%;
    }
  }
}

/* NotFound */

.not-found {
    h1 {
      margin: 50px 0 50px 0;
    }
}

/* Footer */

footer {
  position: relative;
  display: block;
  width: 100%;
  color: $white;
  background-color: $darkGrey;
  padding-top: 50px;

  .footer-text {
    display: flex;
    position: relative;
    z-index: 1;
    padding-left: 50px;

    .contact, .stay-connected {
      width: 40%;
      text-align: left;

      h4 {
        padding-bottom: 10px;
      }

      ul {
        font-size: 16px;

        li {
          padding-bottom: 10px;

          a:not(:hover) {
            color: $white;
          }
        }
      }
    }

    .contact ul {
      padding-left: 15px;
    }

    .stay-connected ul {
      padding-left: 30px;
    }
  }

  hr {
    border-color: #666;
  }

  .copyright {
    padding: 10px;

    p {
      display: inline-block;
      padding-left: 40px;
      line-height: 35px;
    }

    .scroll {
      background-image: url("../../Assets/img/backtotop.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: content-box;
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 20px;
      padding: 5px;
      height: 40px;
      width: 40px;
    }
  }
}
